apache-beam==2.13.0
avro==1.9.0
certifi==2019.6.16
chardet==3.0.4
crcmod==1.7
dill==0.2.9
docopt==0.6.2
enum34==1.1.6
fastavro==0.21.24
funcsigs==1.0.2
future==0.17.1
futures==3.2.0
grpcio==1.21.1
hdfs==2.5.6
httplib2==0.19.0
idna==2.8
mock==2.0.0
numpy==1.16.4
oauth2client==3.0.0
pbr==5.3.0
protobuf==3.8.0
pyarrow==0.13.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
pydot==1.2.4
pyparsing==2.4.0
pytz==2019.1
PyVCF==0.6.8
PyYAML==3.13
requests==2.22.0
rsa==4.0
six==1.12.0
typing==3.6.6
urllib3==1.25.3
